html{
	display: flex;
	width: 100%;
}

#check_box{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: left;
	flex-wrap: wrap;
}

.text_wrap{
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: nowrap;
	justify-content: left;
	text-align: left;
}

span{
	margin:-2px;
}


span:hover{
	border: solid 2px white;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 10px;
}