html{
	display: flex;
	width: 100%;
	background-color: silver;
}

#check_box{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: left;
	flex-wrap: wrap;
}

.default{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
}

span{
	cursor: pointer;
}

.default_span{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: white;
}

.default_span:hover{
	margin:-2px;
	border: solid black 2px;
}

.text_wrap{
	display: flex;
	width: 100%;
	height: 100%;
	flex-wrap: nowrap;
	justify-content: left;
	text-align: left;
}



.grid-container span:hover{
	margin:-2px;
	border: solid 2px white;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 10px;
}