.container{
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	flex-wrap: wrap;
	width: 200px;
}

#check-box{
	display: flex;
	text-align: left;
	justify-content: left;
	flex-wrap: nowrap;
}

h1{
	width: 100%;
}
